body {
	background-image: url(https://i.pinimg.com/originals/d9/c1/94/d9c1945573928df34763c0c11d8d892b.jpg);
	width: 100%;
	height: 100%;
}
header {
	margin-top: 100px;
}
.my_menu *{
	margin: 0;
	padding: 0;
}
.my_menu ul{
	list-style: none;
}
.my_menu > ul{
	display: flex;
	justify-content: center;
}
.my_menu > ul li a{
	display: block;
	background: #708090;
	text-decoration: none;
	box-shadow: 3px 3px 3px black;
	color: black;
	padding: 8px;
	font-size: 30px;
	margin: 1%;
	font-family: Snell Roundhand, cursive;	
}
.my_menu li a:hover{
	background: #708090;
	color: black;
	box-shadow: 5px 5px 5px black;
	font-weight: bold;
}
.my_menu li:hover > ul{
	display: block;
}
.my_menu li ul{
	display: none;

}
.my_menu li > ul li a{
	font-size: 15px;
	background: #E0D0E8;
	margin: 1px;
	margin-left: 10px;
	width: 70px;
	display: flex;
}
.my_menu li > ul li a:hover{
	background: #2A583F;	
}
.my_menu li > ul li ul{
	position: absolute;
	margin-left: 90px;
	margin-top: -35px;
}